# Python artifacts
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
*.sqlite3

# Flask instance folder (DB)
instance/app.db

# Uploads (CSV files)
uploads/

# OS files
.DS_Store
Thumbs.db

# IDE/editor files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Logs
*.log
