<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/student.css') }}">
</head>
<body>
    <div class="container">
        <h1 class="welcome">Hello, {{ student_name }}!</h1>
        <a href="{{ url_for('logout') }}" class="logout-btn">Logout</a>
	<a href="{{ url_for('change_password') }}" class="btn btn-warning ms-2">Change Password</a>


        <h2>Your Grades</h2>
        <table class="grades-table">
            <thead>
                <tr>
                    <th>Subject</th>
                    <th>Grade</th>
                    <th>Remarks</th>
                </tr>
            </thead>
            <tbody>
                {% for student in students %}
                <tr>
                    <td>{{ student.subject }}</td>
                    <td>{{ student.grade }}</td>
                    <td>{{ student.remarks }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script src="{{ url_for('static', filename='js/student.js') }}"></script>
</body>
</html>
